*
{
    background-color: black;
    background-color: rgb(15, 14, 14);
    color: rgb(251, 247, 247) ;
    font-family:'Times New Roman', Times, serif
}

#q
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-left: 100px;
    line-height: 50px;
    margin-top: 80px;
}
.name
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
.year
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}
.img{
 margin-left: 500px;
}
title
{
    text-align: center;
}
#one
{
    margin-left: 650px;
}
ul{
    margin-left: 100px;
}
h3{
    
    margin-left: 100px;
}
.bio
{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(12, 12, 12);
    color: black ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
